<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation Result</title>
</head>
<body>
  {% from 'macros.html' import form_field %}
  <table border="1">
      <tr>
          <th>School Name</th>
          <th>Major Name</th>
          <th>Recommendation Level</th>
      </tr>
      {% for appliacnt_recommend in appliacnt_recommend_list: %}
      <tr>
          <td>{{ appliacnt_recommend[1] }}</td>
          <td>{{ appliacnt_recommend[2] }}</td>
          <td>{{ appliacnt_recommend[6] }}</td>
      </tr>
      {% endfor %}
  </table>
</body>
</html>